<!-- <div class="header"> -->
	<!-- <ul class="nav nav-pills pull-right">
		<li class="{{ page.home }}"><a href="/index.html" title="Home">Home</a></li>
		<li class="{{ page.publications }}"><a href="/publications/index.html" title="Publications">Publications</a></li>
		<li class="{{ page.projects }}"><a href="/projects/index.html" title="Projects">Research</a></li>
		<li class="{{ page.contact }}"><a href="/contact/index.html" title="Contact">Contact</a></li>
	</ul> -->
	<!-- <h3 class="text-muted"><a href="/">Haiping Wang</a></h3>
</div> /header -->
